.editor.mini {
  color: #fff;
  background-color: #212224;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 2px;
  padding-left: 5px;
}
.editor.mini .cursor {
  border-color: #fff;
}
.editor.mini .selection .region {
  background-color: #393b3f;
}
.editor.editor-colors.mini.is-focused {
  background-color: #2d2f31;
}
.editor.editor-colors.mini.is-focused .selection .region {
  background-color: #408cbf;
}
.editor .gutter.drop-shadow {
  -webkit-box-shadow: -2px 0 10px 2px #222222;
}
@-webkit-keyframes highlight {
  from {
    background-color: rgba(100, 255, 100, 0.7);
  }
  to {
    background-color: null;
  }
}
.editor .highlighted.selection .region {
  -webkit-animation-name: highlight;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
}
.editor {
  background-color: #282828;
}
.editor .gutter {
  background-color: #282828;
  border-right: dotted 0.5px #f18260;
  margin-right: 1px;
}
.editor .gutter .cursor-line {
  background-color: #252525;
  opacity: 1;
}
.editor .line-number.cursor-line-no-selection,
.editor .line.cursor-line {
  background-color: #252525;
  opacity: 1;
}
.editor .cursor {
  border-color: #f18260;
}
.pane-item .panel {
  border-color: rgba(255, 255, 255, 0.7);
}
.panes .pane {
  background-color: #3d3d3d;
}
.panes .pane:focus {
  background-color: #333;
}
.panes .pane-row > *:last-child {
  border-right: none;
}
.panes .pane-column > * {
  border-bottom: 1px solid #fff;
}
.panes .pane-column > *:last-child {
  border-bottom: none;
}
.tab-bar {
  height: 30px;
  line-height: 30px;
  background: url("assets/standard-scrollbar-vertical.png");
}
.tab-bar .tab {
  display: inline-block;
  height: 30px;
  padding-left: 15px;
  min-width: 100px;
  max-width: 260px;
  background-image: url("assets/tab-inactive.png");
  background-size: cover;
  color: rgba(255, 255, 255, 0.5);
}
.tab-bar .tab .title {
  opacity: rgba(255, 255, 255, 0.5);
}
.tab-bar .tab:first-child {
  padding-left: 15px;
}
.tab-bar .tab.active {
  background-image: #ffffff;
  background-size: cover;
}
.tab-bar .tab.active .title {
  color: #ffffff;
}
.tab-bar .tab.active:hover {
  background-image: url("assets/tab-active.png");
  background-size: cover;
}
.tab-bar .tab:hover {
  background-image: url("assets/tab-hover.png");
  background-size: cover;
}
.tab-bar .tab:hover .title {
  color: #ffffff;
}
.tab-bar .tab .close-icon {
  height: 30px;
}
.tab-bar .tab .close-icon:before {
  content: ' ';
  background-image: url("assets/tab-close.png");
  background-position: 50% 50%;
  opacity: 0.25;
  display: inline-block;
  margin-top: 9px;
}
.tab-bar .tab .close-icon:hover:before {
  background-image: url("assets/tab-close-hover.png");
  opacity: 1;
}
.tab-bar .tab.modified:not(:hover) .close-icon {
  top: 1px;
  right: 10px;
  width: 12px;
  height: 30px;
  border: none;
  border-radius: 0;
}
.tab-bar .tab.modified:not(:hover) .close-icon:before {
  background-image: url("assets/tab-dirty.png");
  opacity: 1;
}
.tree-view {
  background: #333333;
  padding: 12px;
}
.tree-view:before {
  content: 'folders';
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 11px;
  color: #787878;
  font-weight: bold;
}
.list-tree {
  line-height: 16px !important;
  font-family: "Helvetica";
  font-size: 12px;
  vertical-align: middle;
}
.list-tree .selected:before {
  background-color: transparent;
}
.list-tree li:not(.list-nested-item) {
  color: #8c8c8c;
}
.list-tree li.list-nested-item.status-modified .list-item,
.list-tree li.list-nested-item .status-ignored.list-item {
  color: #8c8c8c;
}
.list-tree li.list-nested-item.directory .list-item:not(.file),
.list-tree li.list-nested-item.selected.directory .list-item:not(.file) {
  color: #d2d2d2;
}
.list-tree li.list-nested-item .list-item:hover,
.list-tree li.list-nested-item.selected .list-item:hover {
  color: white !important;
}
.list-tree li.list-nested-item .header:before {
  display: none !important;
}
.list-tree li.list-nested-item.expanded .icon-repo:before,
.list-tree li.list-nested-item.expanded .icon-file-directory:before {
  background-image: url("assets/group-open.png");
  content: " ";
  width: 24px;
  height: 16px;
  margin-right: 0 !important;
  top: 4.5px;
}
.list-tree li.list-nested-item.expanded .icon-repo:active:before,
.list-tree li.list-nested-item.expanded .icon-file-directory:active:before {
  background-image: url("assets/group-open-selected.png");
}
.list-tree li.list-nested-item.collapsed .icon-repo:before,
.list-tree li.list-nested-item.collapsed .icon-file-directory:before {
  background-image: url("assets/group-closed.png");
  content: " ";
  width: 24px;
  height: 16px;
  margin-right: 0 !important;
  top: 4.5px;
}
.list-tree li.list-nested-item.collapsed .icon-repo:active:before,
.list-tree li.list-nested-item.collapsed .icon-file-directory:active:before {
  background-image: url("assets/group-closed-selected.png");
}
.list-tree .list-item .icon-file-text:before,
.list-tree .list-item .icon-file-media:before,
.list-tree .list-item .icon-book:before {
  content: '';
  width: 0;
  margin-right: 0 !important;
}
.list-tree li:not(.list-nested-item).selected {
  background-image: url("assets/sidebar-row-selected.png");
  padding-left: 69px !important;
  margin-left: -29px !important;
  width: 118%;
  color: white !important;
}
.list-tree li:not(.list-nested-item).selected:before {
  content: '';
  background-image: url("assets/sidebar-row-selected");
  position: absolute;
  left: 0;
  right: 0;
  height: 25px;
}
.list-tree .file {
  margin-left: 24px !important;
}
