@import "ui-variables";
@import "ui-mixins";

.editor.mini {
  color: @text-color;
  background-color: @input-background-color;
  padding-left: @component-padding/2;

  .cursor { border-color: rgb(238, 128, 95); }
  .selection .region { background-color: lighten(@input-background-color, 10%); }
}

// FIXME: these should go in syntax themes?
.editor {
  .gutter.drop-shadow {
    -webkit-box-shadow: -2px 0 10px 2px #222;
  }

  .cursor {
    border-color: rgb(238, 128, 95);
    border-width: 2px;
  }

  .indent-guide {
    color: rgb(238, 128, 95);
  }

  .gutter {
    background-color: rgb(40, 40, 40);
  }
}

.lines.overlayer {
  background-color: rgb(40, 40, 40) !important;
}
