.tab-bar {
  height: 30px;
  line-height: 30px;
  background: @tab-wrapper-background;

  .tab {
    display: inline-block;
    height: 30px;
    padding-left: 15px;
    min-width: 100px;
    max-width: 260px;
    background-image: @tab-background-inactive;
    background-size: cover;
    color: @tab-text-color;

    .title {
      opacity: 0.5;
    }

    &:first-child {
      padding-left: 15px;
    }

    &.active {
      background-image: @tab-background-active;
      background-size: cover;
    }

    &.active .title {
      opacity: 1;
    }

    &.active:hover {
      background-image: @tab-background-active;
      background-size: cover;
    }

    &:hover {
      background-image: @tab-background-hover;
      background-size: cover;
    }

    &:hover .title {
      opacity: 1;
    }

    .close-icon {
      height: 30px;
    }

    .close-icon:before {
      content: ' ';
      background-image: @tab-close-icon;
      background-position: 50% 50%;
      opacity: 0.25;
      display: inline-block;
      margin-top: 9px;
    }

    .close-icon:hover:before {
      background-image: @tab-close-icon-hover;
      opacity: 1;
    }

    &.modified:not(:hover) .close-icon {
      top: 1px;
      right: 10px;
      width: 12px;
      height: 30px;
      border: none;
      border-radius: 0;
    }

    &.modified:not(:hover) .close-icon:before {
      background-image: @tab-close-icon-dirty;
      opacity: 1;
    }
  }
}
