@import "ui-variables";

.tool-panel.panel-left {
  border-right: 0;
}

.tree-view {
  font-size: @font-size;
  background: @tree-view-background-color;

  .selected:before {
  	background: rgb(45, 45, 45);
  }
}

.focusable-panel {
  &:focus {
    background: rgb(51, 51, 51);

    .selected:before {
      background: rgb(45, 45, 45);
    }

    .selected > .name,
    .selected > .name:before,
    .selected > .list-item > .name,
    .selected > .list-item > .name:before {
      color: #fff !important;
    }
  }

  &:before {
    content: "Folders";
    text-transform: uppercase;
    color: rgb(120, 120, 115);
    display: block;
    margin: 0 0 0 10px;
    padding: 10px 0 5px 0;
    font-weight: bold;
  }
}


.expanded {
  .icon-file-directory:before,
  .icon-repo:before {
    content: "";
    background-image: -webkit-image-set(url("atom://predawn-atom/assets/group-open.png") 1x, url("atom://predawn-atom/assets/group-open@2x.png") 2x)
  }
}

.collapsed {
  .icon-file-directory:before,
  .icon-repo:before {
    content: "";
    background-image: -webkit-image-set(url("atom://predawn-atom/assets/group-closed.png") 1x, url("atom://predawn-atom/assets/group-closed@2x.png") 2x)
  }
}
